<!DOCTYPE html>
<html>
<head>
    <title>复旦大学考研排名录入系统</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
     <link rel="icon" sizes="any" mask href="/static/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	 <link rel="stylesheet" href="static\base\pintuer.css">
    <link rel="stylesheet" href="static/base/style.css">
    <script src="static/base/jquery.js"></script>
    <script src="static/base/pintuer.js"></script>
    <script src="static/base/respond.min.js"></script>

</head>
<style>
	.login-box2 {  background: #fff;  width: 420px;  border-radius: 6px;  overflow: hidden;   margin: 0 auto;}
	.login-box2 button {
    	width: 100%;
    	margin-top: 10px;
	}
	@media(max-width:1200px){
    .login-box2{ margin-right: 0;}
	}
	@media(max-width:760px){
	    .login-box2{ width: 100%; margin: 0 auto; ;}
	}
	#errorInfo{
		color: red;
	}
</style>


<body>
    <div class="container">
        <div class="login-box2" style="">


                <div class="login-title"><img src="/static/logo.png" alt="" style="width: 220px;height: 60px"></div>
                <div class="login-title">2020年硕士研究生招生考试 <br>软件学院排名录入系统</div>
            <form class="form" id="formId">

                    <div class="form-group">
                        <div class="field field-icon">
                            <span class="input-name">准考证号</span>
                            <input hidden="true" name="nd" id="nd" value="2020">
                            <input type="text" class="input" style="" name="username" id="username" placeholder="准考证号">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="field field-icon">
                            <span class="input-name">证件号码</span>
                            <input type="password" class="input" style="" name="password" id="password" placeholder="有效居民身份证号码">
                        </div>
                    </div>

                     <div id="bmxz">
	                    <div class="login-remarks" style="">
		                    <p id="hintMsg1" class="desC" val="1">证件号码为有效居民身份证号码，居民身份证为18位数字（最后一位为X），港澳台身份证、护照按证件号码填写。</p>
		                    <p></p>
	               		 </div>
                     </div>

                    <div class="form-group">
                        <div class="field field-icon">
                            <input type="text" class="input"  id="varycode" placeholder="输入验证码">
                            <span class="input-name">验证码</span>
                            <a class="input-code" href="">
                                <img src="/static/{{string}}.png" id="imageID" alt="看不清,点击刷新" width="87" height="28" style="padding-left: 20px;" onclick="getImageCode()" >
                            </a>
                        </div>
                    </div>

                     <div class="form-group">
                        <button class="button bg-sub" value="submit" type="button" id="button_search">查询</button>
                         <p hidden id="cookie">{{string}}</p>
                    </div>
            </form>
        </div>
    </div>
    
<div class="footer">
    <span><a href="/ranking">专硕排名</a></span>
    <span><a href="https://github.com/CDOTAD/FudanPT">开源项目FudanPT</a></span>
    <span><a href="/rankinglm">学硕排名</a></span>
    <div style="text-align: center;"><span>仅供软件学院院全日制考生排名录入</span><span>只保存准考证号和总分，不含隐私信息</span></div>
</div>

    <script type="text/javascript">

    $(function(){
        var myPost = function(username, password, varycode, crawcookie){
            var uri = '/hello/';

            var postData = {'username': username, 'password': password, 'varycode': varycode, 'crawcookie': crawcookie};
            
            console.log(postData)
            $.ajax({
                type:"post",
                url:uri,
                contentType:"application/json",
                data:JSON.stringify(postData),
                success: function(data, status){
                    console.log(data);

                    result_status = Number(data['status']);
                    console.log(result_status);
                    if(result_status == 1){
                        alert(data['data']);
                        window.location.href="";
                    }
                    else if(result_status == 0){
                        if (Number(data['st_type'] == 0))
                        {
                            alert(data['st_name'] +' 专硕' + data['total_grade'] + ' rank: ' + data['rank']);
                        }
                        else if (Number(data['st_type'] == 1))
                        {
                            alert(data['st_name'] +' 学硕 ' + data['total_grade'] + 'rank: ' + data['rank']);
                        }
                        else{
                            alert(data['st_name']+' ' + data['st_type']+' '+ data['total_grade']);
                        }

                    }

                }
            });
        }

        $('#button_search').click(function(){
            var username = $('#username').val();
            var password = $('#password').val();
            var varycode = $('#varycode').val();
            var crawcookie = $('#cookie').text();

            myPost(username, password, varycode, crawcookie);

        });
        
    });
    
    </script>
</body>

</html>